@(conversation: models.TextComment)

@import models.{Comment, TextComment, EmptyComment, User}
@import org.joda.time.format.DateTimeFormat

@fmt = @{ DateTimeFormat.forPattern("YYYY-MM-dd HH:mm:ss") }

@displayComments(comment: Comment) = {
	@comment match {
		case TextComment(id, User(username), text, time, replies) => {
			<div class="comment">
				<a name="@id"><span class="comment-id">#@id</span></a>
				<span class="comment-user">@username</span>
				<span class="comment-time">@fmt.print(time)</span>
				<div class="comment-text">@text</div>
				<div class="comment-controls">
					<a href="@routes.Application.addCommentPage(Some(id), Some(conversation.id))" title="Reply">Reply</a>
				</div>
				@replies.map { reply => @displayComments(reply) }
			</div>
		}
		case EmptyComment => {}
	}
}

@main("Conversation") {
	@displayComments(conversation)
}