@(user: Option[User], userForm: Form[User], conversations: Seq[Comment])

@import models.{Comment, TextComment, EmptyComment, User}
@import org.joda.time.format.DateTimeFormat

@fmt = @{ DateTimeFormat.forPattern("YYYY-MM-dd HH:mm:ss") }

@main("Conversation") {
    
    @user match { 
    	case None => {
    		@helper.form(action = routes.Application.login) {
    			@helper.inputText(userForm("username"))
    			<input type="submit" value="Login" />
    		}
    	}
    	case Some(User(username)) => {
    		<div>Welcome, @{username}!</div>
    		<div><a href="@routes.Application.logout">Logout</a></div>
    	}
    }
    
    <div><a href="@routes.Application.addCommentPage(None, None)">New Conversation</a></div>
    
    @conversations.map {
		case TextComment(id, User(username), text, time, replies) => {
			<div class="comment">
				<span class="comment-id">#@id</span>
				<span class="comment-user">@username</span>
				<span class="comment-time">@fmt.print(time)</span>
				<div class="comment-text">
					<a href="@routes.Application.getConversation(id)">@text</a>
				</div>
			</div>
		}
		case EmptyComment => {}
    }
}
